@import "../../../styles/colors";
.footer {
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $color-gray;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem 0;
}
