@import "../../../styles/colors";
.label {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  font-weight: 600;
  font-size: 1rem;
  width: 250px;
  @media (max-width: 600px) {
    width: 200px;
  }
  .input {
    font-size: 0.75rem;
    padding: 5px 5px 5px 8px;
    border-radius: 5px;
    border: 2px solid $color-gray;
    box-shadow: 4px 4px 10px $color-primary;
    background-color: $color-white;
    color: $color-primary;
    &:focus {
      outline: none;
      border: 2px solid $color-primary;
    }
    &::placeholder {
      font-size: 0.675rem;
      color: $color-gray;
      font-weight: 300;
    }
  }
  p {
    color: $color-red;
    margin: 0;
    font-size: 0.75rem;
    font-weight: 500;
  }
  &Error {
    color: $color-red;
    .input {
      color: $color-red;
      &::placeholder {
        color: $color-red;
      }
    }
  }
}
