@import "../../../styles/colors";
.task {
  width: 300px;
  min-height: 100px;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  gap: 0.5rem;
  border: 1px solid $color-black;
  background-color: $color-white;
  h5 {
    font-size: 1.125rem;
    font-size: 600;
  }
  p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.875rem;
    font-weight: 300;
  }
}
