@import "../../../styles/colors";
.task {
  width: 300px;
  min-height: 100px;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  gap: 0.5rem;
  border: 1px solid $color-black;
  background-color: $color-white;
  h5 {
    font-size: 1.125rem;
    font-size: 600;
  }
  p {
    font-size: 0.75rem;
    font-weight: 300;
  }
  .deleteTaskButton {
    padding: 3px 6px;
    font-size: 1.125rem;
    font-weight: 600;
    color: $color-primary;
    box-shadow: 4px 4px 10px $color-primary;
    background-color: $color-red;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    :focus {
      outline: none;
    }
  }
}
.doneTask {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    border: 0;
    height: 1px;
    background: $color-black;
    top: 50%;
    left: 0;
    width: 100%;
  }
}
