@import "../../../styles/colors";
.patchTaskButton {
  padding: 5px 10px;
  font-size: 1.125rem;
  font-weight: 600;
  color: $color-primary;
  box-shadow: 4px 4px 10px $color-primary;
  background-color: $color-green;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  :focus {
    outline: none;
  }
}
.modal {
  border: 1px solid $color-black;
  box-shadow: 4px 4px 10px $color-background;
  width: 300px;
  max-width: 896px;
  height: auto;
  padding: 4rem 1rem;
  position: absolute;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-white;
  .closeButton {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url("/x-icon.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
.isDoneBoxTrue {
  border: 1px solid $color-black;
  width: 16px;
  height: 16px;
  background-image: url("/checkmark.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.isDoneBoxFalse {
  border: 1px solid $color-black;
  width: 16px;
  height: 16px;
  background-image: url("/x-icon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
