@import "../../../styles/colors";
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem 0;
  background-color: $color-background;
  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  p.authError {
    font-size: 0.75rem;
    color: $color-red;
    font-weight: 600;
  }
  p.authSuccess {
    font-size: 0.75rem;
    font-weight: 600;
  }
}
