$color-background: #619b8a;
$color-primary: #233d4d;
$color-secondary: #fcca46;
$color-orange: #fe7f2d;
$color-green: #a1c181;
$color-red: #ba3b46;
$color-black: #101419;
$color-white: #fff8f0;
$color-gray: #ccc5b9;
